body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

}
@font-face {
  font-family: "LatoRegular";
  src: url("../src/fonts/Lato-Regular.ttf");
}
@font-face {
  font-family: "KoratakiRegular";
  src: url("../src/fonts/KoratakiRegular.ttf");
}
